
# ignore all vim generated swap files
.swp

# ignore workspace specific settings
*.personal

.config/nvim/plugin/packer_compiled.vim
.config/nvim/plugin/packer_compiled.lua
.config/vifm/vifm-help.txt
.config/vifm/vifminfo.json
.config/vifm/vimfiles
.config/zsh/.zcompdump

.local/bin/awscurl
.local/bin/matlab
.local/bin/network-events
.local/bin/pamonitor

.local/bin/colortheme
.local/bin/rover
.local/bin/sawyerbrink
.local/bin/flipx
