
set editing-mode vi

$if mode=vi

# these are for vi-command mode
set keymap vi-command
Control-l: clear-screen

# these are for vi-insert mode
set keymap vi-insert
Control-l: clear-screen
"jk": vi-movement-mode

$endif

